#no-dogs-found-msg {
  font-size: 2rem;
  justify-self: center;
}
#dog-list {
  padding: 0 5rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  justify-content: center;
  gap: 4rem;
}
