.button {
  font-size: 1.6rem;
  background-color: #fba919;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}
.button:disabled {
  background-color: #cbc9c9;
  cursor: default;
}