.button {
  font-size: 1.8rem;
  background-color: #fba919;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  width: 10rem;
}
.button:disabled {
  background-color: rgb(205, 205, 205);
}
.button.no-background {
  background-color: transparent;
  width: auto;
  padding: 0;
}
.prev-next-button {
  border:none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}
.prev-next-button:disabled {
  cursor: default;
}

@media (max-width: 26em) {
  .button.no-background {
    font-size: 1.6rem;
  }
}
