.btn {
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  border: none;
}
.form-btn {
  background-color: #fba919;
  padding: 1rem;
  border-radius: 1rem;
  width: 10rem;
  transition: .2s background-color; 
}
.form-btn:hover {
  background-color: #fc9a49;
}

.sign-in-btn {
  background-color: transparent;
}
.match-dog-btn {
  display: table;
  margin: 0 auto 2rem;
}
.btn:disabled {
  background-color: rgb(205, 205, 205);
  cursor: auto;
}
.prev-next-btn {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}
.prev-next-btn:disabled {
  cursor: default;
}

@media (max-width: 26em) {
  .sign-in-btn {
    font-size: 1.6rem;
  }
}
