.input, .select {
  padding: .8rem;
  border-radius: .7rem;
  outline: none;
  border: #fba919 .3rem solid;
  font-size: 1.6rem;
}
.input::placeholder {
  color: rgb(185, 184, 184);
}
.input.small {
  text-align: center;
  padding: 0;
  width: 8rem;
}
.input.medium {
  width: 10rem;
}
