.input, 
.select {
  padding: .8rem;
  border-radius: .7rem;
  outline: none;
  border: #fba919 .3rem solid;
  font-size: 1.8rem;
}
.large-input,
.large-select {
  width: 30rem;
}
.input::placeholder {
  color: rgb(185, 184, 184);
}
.center-text {
  text-align: center;
}
.medium-input {
  width: 9rem;
}
.select:disabled {
  border-color: #cbc9c9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}