.input, .select {
  padding: .8rem;
  border-radius: .7rem;
  outline: none;
  border: #fba919 .3rem solid;
  font-size: 1.8rem;
}
.input::placeholder {
  color: rgb(185, 184, 184);
}
.input.small {
  text-align: center;
  width: 9rem;
}
.input.medium {
  width: 9rem;
}
.select:disabled {
  border-color: #cbc9c9;
}
