.dog {
  position: relative;
  display: flex;
  flex-direction: column;
  border: .2rem solid black;
}
.dog__image {
  height: 30rem;
}
.dog__details {
  padding: 1rem;
  font-size: 2rem;
}
.heart {
  cursor: pointer;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 4rem;
}
.heart.red {
  color: red;
}
.heart.gray {
  color: rgb(185, 185, 185);
}