#navbar {
  height: 10rem;
  background-color: #300d38;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

#navbar__logo {
  height: 10rem;
}
#navbar__slogan {
  color: white;
  font-size: 5rem;
}
#navbar__form {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}