#navbar {
  height: 10rem;
  background-color: #300d38;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  margin-bottom: 2rem;
}
#navbar__logo {
  height: 7.5rem;
  margin-top: 1rem;
}
#navbar__slogan {
  color: white;
  font-size: 6rem;
}
#navbar__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  width: 28rem;
}
@media (max-width: 62.5em) {
  #navbar__logo {
    height: 6.5rem;
  }
  #navbar__slogan {
    font-size: 4rem;
  }
}
@media (max-width: 43.75em) {
  #navbar__logo {
    height: 5rem;
  }
  #navbar__slogan {
    font-size: 3rem;
  }
}
@media (max-width: 31em) {
  #navbar {
    padding: 0 2rem;
  }
  #navbar__slogan {
    font-size: 2.5rem;
  }
}
