* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
html {
  font-size: 62.5%;
  font-family: 'Verdana';
}
.link {
  font-size: 1.7rem;
  color: #fba919;
  display: table;
  margin: 0 auto 2rem;
}
.link:active {
  color: #300d38;
}

.w-100 {
  width: 100% !important;
}

@media (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 43.75em) {
  html {
    font-size: 50.25%;
  }
}
@media (max-width: 31em) {
  html {
    font-size: 45%;
  }
}