#dog-search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
#inputs-container {
  display: flex;
  gap: 1.5rem;
}