#dog-list {
  width: 100%;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  grid-template-rows: repeat(auto-fit, 41.5rem);
  justify-content: center;
  gap: 2rem;
}